*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main-color: #434455;
	--title-color: #2e2f42;
	--primary-color: #4d5ae5;
	--accent-color: #ffffff;
	--secondary-accent: #e7e9fc;
	--logo-bgc: #2e2f42;
	--light: #f4f4fd;
	--btn-text: #ffffff;
	--btn-color: #f4f4fd;
	--btn-second-color: #404bbf;
}

body {
	font-family: 'Roboto', sans-serif;

	color: var(--main-color);
	background-color: var(--accent-color);
}

/* hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 1158px;
	margin: 0 auto;
}

.header {
	padding-top: 24px;
	padding-bottom: 24px;
}
/* logo */
.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;

	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;

	color: var(--primary-color);
}

.logo-studio {
	color: var(--title-color);
}

.list {
	list-style: none;
}

.main-link {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--title-color);
}
.main-link:hover,
.main-link:focus {
	color: var(--main-color);
}

.auth-link {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--main-color);
}
.auth-link:hover,
.auth-link:focus {
	color: var(--primary-color);
}

/* hero */
.hero {
	background-color: var(--title-color);
	text-align: center;
}

.container.hero {
	padding: 188px 318px;
}

.hero-title {
	margin-bottom: 48px;

	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.hero-btn {
	display: inline-block;
	border-radius: 4px;
	min-width: 170px;
	padding: 16px 32px;

	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.04em;
	text-align: center;

	background-color: var(--primary-color);
	color: var(--btn-text);

	cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--btn-second-color);
}

/* section  */
.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section.features {
	padding-bottom: 0;
}

.section.filter {
	padding-top: 96px;
}

.section.section-bg {
	background-color: var(--light);
}

.section-item {
	background-color: var(--accent-color);
}

.section-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-color);
}

.item-title {
	margin-top: 32px;
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-color);
}
.item-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.filter-btn {
	display: inline-block;
	border: 1px solid var(--secondary-accent);
	border-radius: 4px;
	padding: 12px 24px;
	min-width: 69px;

	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--primary-color);
	background-color: var(--btn-color);

	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	border: 1px solid transparent;
	color: var(--btn-text);
	background-color: var(--primary-color);
}

.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--logo-bgc);
}
.footer-description {
	margin-top: 16px;
	text-align: justify;
	width: 264px;

	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-accent);
}
.footer .logo-studio {
	color: var(--light);
}
